@model IEnumerable<WebAppPizza.Models.Pizza>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pizza_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pizza_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pizza_Size)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pizza_Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pizza_Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pizza_Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pizza_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pizza_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pizza_Size)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pizza_Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pizza_Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pizza_Quantity)
            </td>
            <td
                <td>
                        @Html.ActionLink("Add To Cart 🍕", "Cart", new { id = item.Pizza_Id })

                </td>
            </td>
        </tr>
}
    </tbody>
</table>
